<div class="container">
  <div class="row">
   
      <h1 class="home-h1">Contact Us</h1>
      <br>
      <div class="col-md-10 col-md-offset-1">
      <p class="text-center">Oceanic Supply (“OS”) is an independent commodities broking house that offers a unique and one of a kind service to oil & gas companies. 
      OS is based, in Perth Western Australia and has provided services within Australia and throughout South East Asia.
      We at Oceanic Supply have responded to our clients’ requirements and offer a variety of offshore and subsea construction services. 
      We pride ourselves on being available 24/7 in order to provide our clients the best possible customer service.</p>
      <br><br>
      <p  class= "text-center"><strong>Monday - Friday 09:00- 17:00 AWST</strong></p>
      <br>
        </div>
      <br>
  			
				<div class="col-md-1 col-md-offset-4">
 				<p>Phone:</p>
				<p>Email:</p>
        </div>
       
       <div class="col-md-4">
 				<strong>+61 444 444 444</strong><br><br>
				<strong>hbong@oceanicsupply.com.au</strong><br>

				</div>


       </div>
    </div>
  </div> 
</div>
